<table class="table table-striped">
    <tr>
        <th>Товар</th>
        <th>Цена</th>
        <th>Количество</th>
        <th>Стоимость</th>
        <th></th>
    </tr>

    {# @var item \App\Entity\OrderItem #}
    {% for item in order.items %}
        <tr>
            <td>{{ item.product.name }}</td>
            <td>{{ item.product.price }}</td>
            <td>{{ item.count }}</td>
            <td>{{ item.amount }}</td>
            <th><a href="#" title="Удалить товар из корзины"><span class="glyphicon glyphicon-remove"></span></a></th>
        </tr>
    {% endfor %}

    <tr>
        <td colspan="2">
            Всего
        </td>
        <td>{{ order.count }}</td>
        <td>{{ order.amount }}</td>
        <td></td>
    </tr>
</table>
